@model Ignite.Models.ChangePasswordModel

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @id = "ChangePasswordForm" }))
{
    @Html.ValidationSummary()

    <div class="six columns offset-by-three">
        <fieldset>
            <legend>Change Password Form</legend>
            <ul>
                <li>
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ul>
            <input type="submit" value="Change Password" class="button" id="ChangePasswordBtn" />
        </fieldset>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#ChangePasswordBtn').click(function () {
            $(this).startLoad();
            $.ajax({
                url: "/Account/ChangePassword",
                data: JSON.stringify( $('#ChangePasswordForm').serializeObject() ),
                contentType: 'application/json; charset=utf-8',
                type: "POST",
                beforeSend: function () {
                    $('#SuccessMessage').hide();
                    $('#ErrorMessage').hide();
                },
                success: function (retval) {
                    if (retval == "True")
                        $('#SuccessMessage').html("Password change was successful!").slideDown();
                    else
                        $('#ErrorMessage').html("Error changing password!").slideDown();
                    $('#ChangePasswordForm')[0].reset();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#ErrorMessage').html(textStatus + ": " + errorThrown).slideDown();
                },
                complete: function () {
                    $(this).finLoad();
                }
            });
            return false;
        });
    });
</script>
